In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
data = np.random.randint(0,100,(10,2))

In [7]:
data

array([[68, 66],
       [95, 24],
       [15, 16],
       [49, 66],
       [39, 77],
       [64, 23],
       [72, 69],
       [ 2, 84],
       [71, 33],
       [ 8,  0]])

In [8]:
scalar_model = MinMaxScaler()

In [10]:
scalar_model.fit(data)

C:\Users\virender\Anaconda3\envs\tfdeeplearning\lib\site-packages\sklearn\utils\validation.py:444: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [12]:
result = scalar_model.transform(data)

In [13]:
result

array([[ 0.70967742,  0.78571429],
       [ 1.        ,  0.28571429],
       [ 0.13978495,  0.19047619],
       [ 0.50537634,  0.78571429],
       [ 0.39784946,  0.91666667],
       [ 0.66666667,  0.27380952],
       [ 0.75268817,  0.82142857],
       [ 0.        ,  1.        ],
       [ 0.74193548,  0.39285714],
       [ 0.06451613,  0.        ]])

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(data = np.random.randint(0,101,(50,4)), columns= ['f1','f2','f3','label'])

In [16]:
df.head()

   f1  f2  f3  label
0  75   0  20     23
1  87  93   2     76
2  96   4  15      1
3  33  85  28     79
4  55  42  89     65

In [17]:
x = df[['f1','f2','f3']]
y = df[['label']]

In [18]:
from sklearn.model_selection import train_test_split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=101)

In [23]:
X_train.shape

(35, 3)

In [24]:
X_test.shape

(15, 3)

In [25]:
y_train.shape

(35, 1)

In [26]:
y_test.shape

(15, 1)

In [27]:
X_train.head()

    f1  f2  f3
3   33  85  28
41  27   5  87
30  30   5  75
15  28  88   6
20  11  89  52